<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="http://localhost:3000/play?id=bg.mp3" target="_blank"><button class="btn btn-success"> Play </button></a> 
  </body>
</html>
